extends ../layout

block meta
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Easy Classes | 404 Error

block static_imports

block content
    section#error.fit.layout.vertical.center-center.animated.fadeInDown
        h1 404
        h3.font-bold Page Not Found [#{url.substring(1)}]
        article.desc Sorry, but the page you are looking for has not been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
        style.
            body {background-color: #463434;color:white}
            #error {max-width: 400px;z-index: 100;margin: 0 auto;padding-top: 40px}
            #error>h1 {font-size: 170px;margin:0}
            #error>.desc {text-align: center}
            #error #search_box {width: 100%;transition: min-width .25s}
            #s_c {visibility: hidden;position: absolute;z-index: -1;}
            .font-bold {font-weight: 600}
            .paper-icon-button-0 {background-color: #3F51B5;color: white;border-radius: 50%;margin-left: .5em;}
